@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  color:  #f44d54 ;   
  background-color: white;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  text-shadow: 2px 2px 8px #FF0000;
}

.container {
  max-width: 560px;
  margin: 0 auto; 
  text-align: center;

}

.gallery {
  margin-left: 0;
/*  margin-right: 0;*/
  padding-left: 0;
 /* padding-right: 0;*/
}


.playergallery {
  margin-left: 0;
  padding-left: 0;
  text-align: center;
  color: #f44d54;
  border: red 3px;
}


.playerbox{
display: inline-block;
  width: 50%;
  overflow: hidden;
  position: relative;
  height: 70px;
  width: 100px;
   border: #f44d54 3px;
   font-size: 50px;
	border-radius: 25px;
  text-align: center;
  background: gray;
}

.playerbox:hover {
	background-color: yellow;
}

.activeplayer {
	background-color: yellow; 
}


.box {
display: inline-block;
  width: 30%;
  overflow: hidden;
  position: relative;
  height: 150px;
  width: 150px;
   border: solid #f44d54 3px;
   font-size: 100px;
   border-radius: 40px;
  box-shadow: 0 0 70px #FAAFBE;;
}

.box:hover{
	background-color: yellow;

}

.boxtoggle{
	background-color:  #FAAFBE;
}



.imagesrainbow1  {
      display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagesrainbow2 {
      display: block;
    margin-left: auto;
    margin-right: auto;
}

#nyanOne {
  display: line-block;
  position: absolute;
}

#nyanTwo {
  display: block;
  position: absolute;
  right: 40px;
}




.carebear1 {
  float: right;
  position:absolute;
}

